!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title TWO :: Park Cities Presbyterian Church (PCA)
    / Included CSS Files
    %link{:href => "/workspace/assets/stylesheets/app.css", :rel => "stylesheet"}/
    /[if lt IE 9]
      <link rel="stylesheet" href="stylesheets/ie.css"/>
    %script{:src => "http://www.google.com/jsapi?autoload={%22modules%22:[{name:%22maps%22,version:3,other_params:%22sensor=false%22}]}"}
    %script{:src => "http://use.typekit.com/fuz6ulc.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}    
    / IE Fix for HTML5 Tags
    /[if lt IE 9]
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    #masthead-section
      #masthead-container
        #masthead
          %header#masthead-sitename
            %h1 Park Cities Presbyterian Church
          %nav#global-nav-container
            %ul
              %li#global-nav-contact
                %a{:href => "#"} Contact
              %li#global-nav-events
                %a{:href => "#"} Events
              %li#global-nav-ministry-index
                %a{:href => "#"} Ministry Index
              %li#global-nav-new-here
                %a{:href => "#"} I'm New Here
    #masthead-bottom-section
      #masthead-bottom-container
        #main-nav-group.row
          %nav#main-nav
            %ul
              %li#main-nav-about
                %a{:href => "#"} About
              %li#main-nav-worship
                %a{:href => "#"} Worship
              %li#main-nav-connect
                %a{:href => "#"} Connect
              %li#main-nav-missions
                %a{:href => "#"} Missions
              %li#main-nav-serve
                %a{:href => "#"} Serve
              %li#main-nav-care
                %a{:href => "#"} Care
              %li#main-nav-resources
                %a{:href => "#"} Resources
    #content-section
      / container
      #content-container
        / based off of the perfect-fifth 1:1.5
        .row
          #main-column.sixteen.columns
            :markdown
              ## This is the Main Column

              Hello there.
          #secondary-column.eight.columns
            :markdown
              ### This is the Secondary Column

              Hello there.
      / container
    #footer-section
      #footer-container
        / Site Information/Footer Begins
        %footer#site-information
          #footer-location-service-times
            #footer-location-service-times-module
              %h2
                Location
                %span.ampersand &amp;
                Service Times
              #location-service-times.ten.columns
                #main-address
                  %dl
                    %dt Main Address
                    %dd Park Cities Presbyterian Church
                    %dd 4124 Oak Lawn Avenue
                    %dd Dallas, Texas 75219
                #service-times
                  %dl
                    %dt Sunday Services
                    %dd 8:00 am – Communion
                    %dd
                      9:30 am
                      %span.ampersand &amp;
                      11:00 am
              .five.columns.hide-on-phones.hide-on-tablets
                %div{:style => " border: 7px solid #ddd;"}
                  :javascript
                    function initialize() {
                    	var myLatLng = new google.maps.LatLng(32.8122500, -96.8125840);
                    	var myOptions = {
                      		zoom: 13,
                      		center: myLatLng,
                    		mapTypeId: google.maps.MapTypeId.ROADMAP
                    	}
                    	var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                    	var marker = new google.maps.Marker({
                    		position: myLatLng, 
                    		map: map
                    	});
                    	var infowindow = new google.maps.InfoWindow({ 
                    		position: myLatLng
                    	});
                    	infowindow.open(map);
                      }
                      google.setOnLoadCallback(initialize);       
                #map_canvas{:style => "width: auto; height: 125px;"}
                  / Maps Here
          .eight.columns stuff
          .eight.columns more stuff
        / End of Site Information/Footer
    / Included JS Files
    %script{:src => "/workspace/assets/javascripts/jquery.min.js"}
    %script{:src => "/workspace/assets/javascripts/jquery.reveal.js"}
    %script{:src => "/workspace/assets/javascripts/jquery.orbit-1.3.0.js"}
    %script{:src => "/workspace/assets/javascripts/forms.jquery.js"}
    %script{:src => "/workspace/assets/javascripts/jquery.customforms.js"}
    %script{:src => "/workspace/assets/javascripts/jquery.placeholder.min.js"}
    %script{:src => "/workspace/assets/javascripts/jquery.flexslider.js"}
    %script{:src => "/workspace/assets/javascripts/app.js"}
    %script{:charset => "utf-8", :type => "text/javascript"}
      $(window).load(function() {
      $('.flexslider').flexslider({
      animation: "slide",
      controlsContainer: ".flex-custom-nav",
      controlNav: true,
      manualControls: ".flex-custom-nav dd"
      });
      });