/* line 8, ../sass/ie.scss */
div.panel {
  border: 1px solid #cccccc;
}

/* line 12, ../sass/ie.scss */
.lt-ie8 .nav-bar li.has-flyout a {
  padding-right: 20px;
}
/* line 14, ../sass/ie.scss */
.lt-ie8 .nav-bar li.has-flyout a:after {
  border-top: none;
}
