-# 
  Javascript at the bottom for fast page loading
  Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary
%script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js" }
:javascript
  window.jQuery || document.write("<script src='js/jquery.min.js'>\x3C/script>")

%script{ :src => "js/plugins.js?v=1" }
%script{ :src => "js/script.js?v=1" }

-#  asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet
-#  change the UA-XXXXX-X to be your site's ID
:javascript
  var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"],["_trackPageLoadTime"]];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
  s.parentNode.insertBefore(g,s)}(document,"script"));